<launch>

	<!-- Some general parameters -->
	<param name="use_sim_time" value="false" />
	<rosparam file="$(find shido_robot)/param/ros.yaml"/>

	<!-- Start Stage simulator with a given environment
	<node name="Stage" pkg="stage_ros" type="stageros" args="$(find nav2d_tutorials)/world/tutorial.world">
		<param name="base_watchdog_timeout" value="0" />
	</node> -->

    
    <!-- Add Hector Slam -->
  
    <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>


    <include file="$(find shido_robot)/launch/mapping_default_shido.launch"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base2laser_tf" args="0 0 0.6 0 0 0 base_link laser"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name = "map2odom_broadcaster" args= "0 0 0 0 0 0 map odom" />
    
	<!-- Start the Operator to control the robot -->
	<node name="Operator" pkg="nav2d_operator" type="operator" >
		<remap from="scan" to="scan"/> <!--Cambiar a scan para el Robot -->
		<rosparam file="$(find shido_robot)/param/operator.yaml"/>
		<rosparam file="$(find shido_robot)/param/costmap.yaml" ns="local_map" />
	</node>


	<!-- RVIZ to view the visualization -->
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find shido_robot)/param/tutorial1.rviz" />

</launch>
